body
{
    padding: 0;
    margin: 0;
}
.text
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 26px;
    white-space: normal;
    overflow: hidden;
    border-right: 2px solid #000;
    animation: animateText 7s steps(80) 1s 1 normal both, blinkCursor 400ms steps(90) infinite normal;
}
@keyframes animateText
{
    from{
        width: 0;
    }to{
        width: 24em;
    }
}
@keyframes blinkCursor
{
    from{
        border-right-color: rgba(0,0,0);    
    }to{
        border-right-color: transparent;
    }
}
